h1, h2.section-title { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {

}
body {
    font-size: 16px;
}
body, div#box-logo-do-site {
    background-color: #5c88c4;
}
#foto-perfil {
    width: 600px;
}

p, h3, li {
    font-family: 'Courier New', Courier, monospace;
    text-align:justify;
}

.navigation {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    background-color: inherit;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navigation li {
    padding: 0 20px;
    display: inline-block;
    color: white;
}


h3, ul.lista-skills, li.item-lista-skill, h2.section-title { 
    text-align: center;
}
a.menu-itens {
    text-decoration: none;
    color: white;
} 

#site, #logo-do-site {
    width: 88%;
    padding-left: 20px;
    padding-top: 20px;
}

h2.section-title, ul.lista-skills, li.item-lista-skill {
    letter-spacing: 1px;
    font-weight: 500;
}

h3 {
    font-weight: 600;
    font-size: 1.25em;

}

h2.section-title {
    font-size: 2em;
}
li.item-lista-skill {
    list-style-type: none;
}